@model IEnumerable<ControleVeiculos2019.Models.Car>
@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (!Model.Any())
{
    <p>Sorry, we don't have any car to display.</p>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Car</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(car.Name, "Details",
                    "Cars", new { id = car.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
